.nav{
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
    text-decoration: none;
    height: 100x;
}

section1{       
   align-items: center;
   background-color: aquamarine;
   display: flex;
   justify-content:center ;
   height: 200px;
   gap: 300px;

}

section2{       
    align-items: center;
    background-color: chartreuse;
    display: flex;
    justify-content:center ;
    height: 200px;
 }

 section3{       
    align-items: center;
    background-color: coral;
    display: flex;
    justify-content:center ;
    height: 200px;
 }
 section4{       
    align-items: center;
    background-color: crimson;
    display: flex;
    justify-content:center ;
    height: 200px;
 
 }
 button{
    background-color: cyan ;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
 }